{{ if ne .Section "post"}}<section class="header4 cid-sc4QD4Ezvg mbr-fullscreen" id="header4-8">
    <div class="container-fluid">
        <div class="row">
            <div class="content-wrap">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>{{ .Site.Params.toptitle }}</strong></h1>
                <p class="mbr-fonts-style mbr-text mbr-white mb-3 display-7">{{ .Site.Params.topdescription }}</p>
            </div>
        </div>
    </div>
</section>{{ end }}