<section class="menu menu1 cid-scbIgvKGlS" once="menu" id="menu1-i">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{{.Site.BaseURL}}">
                        {{ $logoimg := "assets/images/logo.svg"}}<img src="{{ $logoimg | absURL }}" alt="{{ .Site.Title }}" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-7" href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
					{{ range .Site.Menus.nav }}<li class="nav-item">
						<a class="nav-link link text-primary display-4" href="{{ .URL }}">{{ .Name }}</a>
					</li>{{ end }}
				</ul>
            </div>
        </div>
    </nav>
</section>